<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<%- partial('_partial/head') %>
<body>
<div class="Shell">
    <%- partial('_partial/sidebar') %>
    <div class="container">
        <div data-pager-shell>
            <%- body %>
            <%- partial('_partial/footer') %>
        </div>
    </div>
</div>

<%- js('js/pager/dist/singlepager.js') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
<script>
var sp = new Pager('data-pager-shell')
</script>
</body>
</html>